/build.xml
/nbproject/
/Bitrockimages/
/build/
/manifest.mf
/derby.log
/test.db
/chromispos.xml
/chromispos.xml.backup
/src-pos.zip
/src-beans/uk/chromis/fixedimages/Thumbs.db
/chromisLiquibase.log
/log4j.xml
